
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.head_container{
    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    padding: 2px 100px;
    justify-content: space-between;
    align-items: center;
}

.head {
    font-size: 24px;
    font-weight: bold;
}

.links, .s1 .subtitle {   
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.s1 {
    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    gap: 70px;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.s1 .title {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.s1 .left {
    max-width: 480px;
}

.s1 .left > * {
    margin-bottom: 12px;
}

.s1 button {
    background-color: #3882F6;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}


.s1 img {
    max-width: 100%;
    max-height: auto;
}

