
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
}

.head_container{
    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    padding: 2px 250px;
    justify-content: space-between;
    align-items: center;
}

.head {
    font-size: 24px;
    font-weight: bold;
}

.links, .s1 .subtitle {   
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.s1 {
    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    gap: 70px;
    padding: 50px 250px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.s1 .title {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.s1 .left {
    max-width: 480px;
}

.s1 .left > * {
    margin-bottom: 12px;
}

.s1 button {
    background-color: #3882F6;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.s1 img {
    max-width: 100%;
    max-height: auto;
}

.s2 {
    display: flex;
    padding: 2px 250px;
    flex-direction: column;
    text-align: center;
}

.s2 .title {
    font-size: 36px; 
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}
.s2 .container {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}

.s2 .container > * {
    max-width: 150px;
    color: grey;
}

.s2 img {
    border: #3882F6 4px solid;
    border-radius: 15px;
    margin-bottom: 6px;
} 

.s3 {
    background-color: #E5E7EB;
    padding: 80px 350px;
    display: flex;
    flex-direction: column;
}

.s3 .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 80;
    margin: 0;
    padding: 0;
}

.s3 .source {
    color: #1F2937;
    font-weight: bold;
    margin: 0;
    padding: 8px 0px;
    align-self: flex-end;
}

.s4 {
    display: flex; 
    justify-content: center;
    padding: 2px 250px;
}

.s4 .box {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin: 80px 0;
    max-width: 1500px;
    flex-grow: 1;
}

.s4 .container {
    padding: 60px 150px;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.s4 .action {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.s4 .subtitle {
    color: white;
    font-size: 18px;
    padding-top: 6px;
    margin: 0;
}

.s4 button {
    max-height: 50px;
    padding: 6px 24px;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    
}

.footer {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color:#1F2937;
    padding: 18px 0px;
}